@import "../../_settings/_variables.css";

.cardProduct {
    width: 568px;
    height: 376px;
    line-height: 35px;
}

.cardProduct__content {
    padding-top: 11px;
}

.cardProduct__image {
    height: 295px;
    width: 100%;
    background: var(--brand);
}

.cardProduct__type {
    color: var(--grey-1);
    margin-left: 24px;
}

.cardProduct__tag {
    margin-right: 47px;
    font-size: 18px;
}

.cardProduct__footer {
    color: #C4C4C4;
}

@media all and (max-width: 1600px) {
    .cardProduct {
        width: 31.1%;
        height: 312px;
    }

    .cardProduct__image {
        height: 16.6vw;
    }

    .cardProduct__footer {
        line-height: 25px;
    }

    .cardProduct__content {
        padding-top: 0;
    }
}

@media all and (max-width: 1100px) {
    .cardProduct {
        height: auto;
    }

    .cardProduct__type {

        display: block;
        margin-left: 0;
    }

    .cardProduct__tag {
        font-size: 14px;
        margin-right: 0;
    }
}

@media all and (max-width: 600px) {
    .cardProduct {
        width: 100%;
        height: auto;
        border-bottom: 11px solid var(--mobilebg);
    }

    .cardProduct__type {
        display: block;
        margin-left: 0;
    }

    .cardProduct__tag {
        font-size: 0.875em;
        margin-right: 0;
    }

    .cardProduct__footer {
        line-height: 1.57;
    }

    .cardProduct__image {
        height: 51.25vw;
    }

    .cardProduct__header {
        line-height: 1.125;
        margin-bottom: 10px;
    }

    .cardProduct__content {
        padding: 35px 0;
    }
}
