.breadcrumbs__link {
    color: black;
    text-decoration: none;
}

.breadcrumbs__link:after {
    content: '/';
    position: relative;
    color: #F5F5F5;
    margin: 0 10px;
}


.breadcrumbs__active {
    color: #8C8C8C;
    text-decoration: none;
}

.breadcrumbs {
    display: flex;
}

@media all and (max-width: 600px) {
    .breadcrumbs {
        display: none;
    }
}
