.headline__header {
    width: 600px;
    color: white;
    margin: 0 0 45px;
}

.headline {
    height: 784px;
    padding-top: 57px;
    box-sizing: border-box;
}

@media all and (max-width: 1600px) {
    .headline__header {
        width: 45%;
    }
}

@media all and (max-width: 600px) {
    .headline {
        height: 419px;
        padding-top: 40px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .headline__header {
        font-size: 32px;
        margin: 0;
        width: 200px;
    }

    .headline__container {
        height: auto;
    }
}
