@import "./../../_settings/_variables.css";
.header {
    height: 100px;
    width: 100%;
    position: sticky;
    z-index: 11;
    top: 0;
    background-color: var(--background-color);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__nav {
    margin-left: 116px;
}

.header__back-button {
    display: none;
}

@media all and (max-width: 1160px) {
    .header {
        font-size: 16px;
    }

    .header__nav {
        margin-left: 0;
    }
}

@media all and (max-width: 852px) {
    .header {
        height: 49px;
    }

    .header {
        position: fixed;
        top: 0;
        width: 100%;
        left: 0;
        background-color: white;
        z-index: 11;
    }

    .header__nav {
        display: none;
    }

    .header__contact-us {
        display: none;
    }

    .header__container {
        height: 100%;
    }

    .header__back-button {
        display: block;
        height: 100%;
        width: 69px;
        position: absolute;
        left: -30px;
        background-color: white;
        outline: none;
        border: unset;
    }

    .header__logo {
        margin-left: 39px;
    }
}
