.input {
}

.input::placeholder {
    color: #C8C8C8;
    font-size: var(--base-font-size)
}

.input_isValid_true {
    border: 1px solid #79BA38;
}

.input_type_search {
    position: relative;
    width: 360px;
}

.input__field {
    height: 100%;
}

.input_type_search::after {
    content: '';
    position: absolute;
    left: 2px;
    bottom: 2px;
    width: 100%;
    height: 1px;
    background: var(--brand);

}

.input {
    position: relative;
    height: 46px;
    display: inline-block;
}

.input__field {
    border: 1px solid #C8C8C8;
    outline: none;
    color: black;
    padding: 0 36px;
    box-sizing: border-box;
    font-size: var(--base-font-size)
}

.input_type_search .input__field {
    border: none;
    padding: 0;
    width: 100%;
}
