.input {
}

.input::placeholder {
    color: #C8C8C8;
    font-size: var(--base-font-size)
}


.input_type_search {
    position: relative;
    width: 360px;
    border: none;
}

.input__field {
    height: 100%;
    display: block;
}

.input_type_search::after {
    content: '';
    position: absolute;
    left: 2px;
    bottom: 2px;
    width: 100%;
    height: 1px;
    background: var(--brand);

}

.input {
    position: relative;
    height: 46px;
    display: inline-block;
}

.input:not(.input_type_checkbox):not(.input_type_search):not(.input_type_radio) {
    border: 1px solid #C8C8C8;
}

.input__field {
    border: unset;
    width: 100%;
    outline: none;
    color: black;
    padding: 0 36px;
    box-sizing: border-box;
    font-size: var(--base-font-size)
}

.input_type_search .input__field {
    border: none;
    padding: 0;
    width: 100%;
}

.input__checkbox {
    display: none;
}

.input__radio {
    display: none;
}

.input_isValid_true {
    border: 1px solid #79BA38;
}

@media all and (max-width: 600px) {
    .input_type_search::after {
        left: 0;
        bottom: -1px;
    }
}
