@import "../../_settings/_variables.css";

.button {
    cursor: pointer;
}

.button_isValid_false {
    color: var(--grey-1);
    border: 1px solid var(--grey-3);
    background: white;
    cursor: initial;
}

.button_isValid_true {
    border: none;
    color: white;
    background: var(--brand);
}

.button_accent {
    height: calc(100% + 2px);
    color: white;
    background: var(--brand);
}

.button {
    font-family: inherit;
}
@media all and (max-width: 1600px) and (min-width: 600px) {
    .button {
        height: 56px;
        line-height: 56px;
    }
}
