.projects__filters {
    width: 960px;
    display: inline-block;
}

.projects__header {
    padding-top: 57px;
    margin-bottom: 23px;
}

.projects {
    padding-bottom: 25px;
}

.projects__container {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.projects__filters_short {
    padding-left: 573px
}
