.contactNav__to-form {
    color: #EC1FB3;
}

@supports (-webkit-background-clip: text) and (-webkit-text-fill-color:transparent) {
    .contactNav__to-form {
        background: var(--brand);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.contactNav__link {
    margin-right: 38px;
}
