.signboard {
    width: 388px;
    height: 280px;
    padding: 46px 0 33px 62px;
    box-sizing: border-box;
    line-height: 205%;
    background-color: var(--background-color);
}

.signboard__link {
    margin-top: 9px;
    display: inline-block;
}
@media all and (max-width: 600px) {
    .signboard {
        width: 100%;
        height: auto;
        padding: 29px 0;
    }

    .signboard__container {
        max-width: unset;
    }

    .signboard__list {
        line-height: 1.75;
        font-size: 16px;
    }

    .signboard__link {

    }
}
