.columnsWrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.columnsWrapper_showcase {
    margin: -25px -12px;
    padding: 14px 0;
}

.columnsWrapper_showcase .card {
    margin: 25px 12px;
}

.columnsWrapper_staff {
    margin: 0 -10px;
}

.columnsWrapper_staff .card {
    margin: 0 10px;
}

.columnsWrapper_price {
    margin: -10px -15px;
}

.columnsWrapper_price .card {
    margin: 15px 15px;
}

@media all and (max-width: 1600px) and (min-width: 600px) {
    .columnsWrapper_showcase .card {
        /*margin: 12px 12px;*/
        margin: 0.87vw 0.87vw;
    }

    .columnsWrapper_showcase {
        margin: -0.87vw -0.87vw;
        padding: 0.87vw 0;
    }

    .columnsWrapper_staff .card {
        margin: 0.87vw 0.87vw;
    }

    .columnsWrapper_price {
        margin: -0.8% -1.3%;
    }

    .columnsWrapper_price .card {
        margin: 0.8% 1.3%;
    }


}

@media all and (max-width: 600px) {
    .columnsWrapper {
        flex-direction: column;
    }

    .columnsWrapper_showcase {
        margin: 0;
        padding: 0;
    }

    .columnsWrapper .card {
        margin: 0;
    }
}
